# Network Configuration
SEPOLIA_RPC_URL=https://sepolia.gateway.tenderly.co
DEPLOYER_PRIVATE_KEY=your_private_key_here

# Zama FHEVM Configuration
RELAYER_URL=https://relayer.testnet.zama.org
FHEVM_NETWORK=sepolia

# Contract Addresses (filled after deployment)
# Add your contract addresses here after deployment


VAULT_CORE_ADDRESS=0x492467E6DF4Fd09eBbE3Dcb6CaBBe75918EcBf04